<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <csp>
            <mode>
                <storefront>
                    <report_only>0</report_only>
                </storefront>
                <admin>
                    <report_only>0</report_only>
                </admin>
            </mode>
        </csp>
        <gardenlawn>
            <enviroment>production</enviroment>
        </gardenlawn>
        <gardenlawn_core>
            <general>
                <enabled>0</enabled>
            </general>
            <price_calculation>
                <factor>1.5</factor>
                <tax_rate>23</tax_rate>
                <rounding_rules>{"_1":{"price_limit":"50","rounding_target":"0.99","rounding_method":"nearest"},"_2":{"price_limit":"200","rounding_target":"0.99","rounding_method":"up"},"_3":{"price_limit":"999999","rounding_target":"0.99","rounding_method":"up"}}</rounding_rules>
            </price_calculation>
        </gardenlawn_core>
        <cms>
            <wysiwyg>
                <allowed_extensions>jpeg,jpg,png,gif,webp,avif,svg</allowed_extensions>
            </wysiwyg>
        </cms>
        <system>
            <media_storage_configuration>
                <allowed_resources>
                    <media_gallery_image_file_types>jpeg,jpg,png,gif,webp,avif,svg</media_gallery_image_file_types>
                </allowed_resources>
            </media_storage_configuration>
        </system>
        <payment>
            <paynow_gateway>
                <title>Płatność paynow</title>
            </paynow_gateway>
        </payment>
    </default>
</config>
