<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <gardenlawn>
            <enviroment>production</enviroment>
        </gardenlawn>
        <gardenlawn_core>
            <general>
                <enabled>0</enabled>
            </general>
        </gardenlawn_core>
        <!-- Twoje istniejące konfiguracje dla SVG/WebP poniżej -->
        <cms>
            <wysiwyg>
                <allowed_extensions>jpeg,jpg,png,gif,webp,avif,svg</allowed_extensions>
            </wysiwyg>
        </cms>
        <system>
            <media_storage_configuration>
                <allowed_resources>
                    <media_gallery_image_file_types>jpeg,jpg,png,gif,webp,avif,svg</media_gallery_image_file_types>
                </allowed_resources>
            </media_storage_configuration>
        </system>
    </default>
</config>
