<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\App\ResourceConnection\Proxy" type="Magento\Framework\App\ResourceConnection"/>
    <preference for="Magento\Framework\App\ResourceConnection\Config\Proxy"
                type="Magento\Framework\App\ResourceConnection\Config"/>
    <preference for="Magento\Framework\Event\Manager\Proxy" type="Magento\Framework\Event\Manager"/>
    <type name="Magento\Theme\Model\View\Design">
        <arguments>
            <argument name="themes" xsi:type="array">
                <item name="adminhtml" xsi:type="string">GardenLawn/Admintheme</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Indexer\Category\Product\Action\Full">
        <arguments>
            <argument name="batchRowsCount" xsi:type="number">1000</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\BatchSizeCalculator">
        <arguments>
            <argument name="batchRowsCount" xsi:type="array">
                <item name="configurable" xsi:type="number">500</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
                <item name="svg" xsi:type="string">svg</item>
                <item name="webp" xsi:type="string">webp</item>
                <item name="avif" xsi:type="string">avif</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpeg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
                <item name="webp" xsi:type="string">image/webp</item>
                <item name="svg" xsi:type="string">image/svg+xml</item>
                <item name="avif" xsi:type="string">image/avif</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Cms\Model\Wysiwyg\Images\Storage">
        <arguments>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
                <item name="svg" xsi:type="string">svg</item>
                <item name="webp" xsi:type="string">webp</item>
                <item name="avif" xsi:type="string">avif</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpeg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
                <item name="webp" xsi:type="string">image/webp</item>
                <item name="svg" xsi:type="string">image/svg+xml</item>
                <item name="avif" xsi:type="string">image/avif</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Cms\Model\Wysiwyg\Images\Storage">
        <arguments>
            <argument name="extensions" xsi:type="array">
                <item name="images" xsi:type="array">
                    <item name="jpg" xsi:type="string">jpg</item>
                    <item name="jpeg" xsi:type="string">jpeg</item>
                    <item name="gif" xsi:type="string">gif</item>
                    <item name="png" xsi:type="string">png</item>
                    <item name="svg" xsi:type="string">svg</item>
                    <item name="webp" xsi:type="string">webp</item>
                    <item name="avif" xsi:type="string">avif</item>
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\Catalog\CategoryImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
                <item name="svg" xsi:type="string">svg</item>
                <item name="webp" xsi:type="string">webp</item>
                <item name="avif" xsi:type="string">avif</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpeg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
                <item name="webp" xsi:type="string">image/webp</item>
                <item name="svg" xsi:type="string">image/svg+xml</item>
                <item name="avif" xsi:type="string">image/avif</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="MediaGalleryImageUploader" type="Magento\MediaStorage\Model\File\Uploader">
        <arguments>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
                <item name="svg" xsi:type="string">svg</item>
                <item name="webp" xsi:type="string">webp</item>
                <item name="avif" xsi:type="string">avif</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Catalog\Model\Product\Media\Config">
        <arguments>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
                <item name="svg" xsi:type="string">svg</item>
                <item name="webp" xsi:type="string">webp</item>
                <item name="avif" xsi:type="string">avif</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\File\Uploader">
        <plugin name="gardenlawn_core_framework_file_uploader"
                type="GardenLawn\Core\Plugin\Framework\File\UploaderPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Framework\Image\Adapter\Gd2">
        <plugin name="gardenlawn_core_framework_image_adapter_gd2"
                type="GardenLawn\Core\Plugin\Framework\Image\Adapter\Gd2Plugin" sortOrder="10"/>
    </type>
    <type name="Amasty\ImportCore\Import\Filesystem\FileUploader">
        <plugin name="gardenlawn_core_amasty_fileuploader_plugin"
                type="GardenLawn\Core\Plugin\Amasty\FileUploaderPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Framework\Image\Adapter\AbstractAdapter">
        <plugin name="gardenlawn_core_framework_image_adapter_abstractadapter"
                type="GardenLawn\Core\Plugin\Framework\Image\Adapter\AbstractAdapterPlugin" sortOrder="10"/>
    </type>
    <type name="Hyva\Checkout\Model\MethodMetaData\IconRenderer">
        <plugin name="gardenlawn_core_hyva_checkout_icondrenderer_picture"
                type="GardenLawn\Core\Plugin\Hyva\Checkout\Model\MethodMetaData\IconRendererPlugin"
                sortOrder="10"/>
    </type>
    <type name="Mageplaza\SocialLogin\Helper\Social">
        <plugin name="custom_social_login_plugin" type="GardenLawn\Core\Plugin\Mageplaza\SocialHelperPlugin" sortOrder="10" disabled="false"/>
    </type>
</config>
