<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hyva\Checkout\Model\Form\EntityFormSaveService\EavAttributeBillingAddress">
        <plugin name="GardenLawn_Core_Plugin_Hyva_Checkout_Model_Form_EntityFormSaveService_EavAttributeBillingAddressPlugin"
                type="GardenLawn\Core\Plugin\Hyva\Checkout\Model\Form\EntityFormSaveService\EavAttributeBillingAddressPlugin"
                sortOrder="10"
                disabled="false"/>
    </type>
    <type name="Magento\Customer\Controller\Address\FormPost">
        <plugin name="GardenLawn_Core_Plugin_Customer_Address_FormPostPlugin"
                type="GardenLawn\Core\Plugin\Customer\Address\FormPostPlugin"
                sortOrder="10"
                disabled="false"/>
    </type>
    <type name="Hyva\Checkout\Magewire\Checkout\AddressView\BillingDetails\AddressList">
        <plugin name="GardenLawn_Core_Plugin_Hyva_Checkout_Magewire_Checkout_AddressView_BillingDetails_AddressListPlugin"
                type="GardenLawn\Core\Plugin\Hyva\Checkout\Magewire\Checkout\AddressView\BillingDetails\AddressListPlugin"
                sortOrder="10"
                disabled="false"/>
    </type>
    <type name="Hyva\Checkout\ViewModel\Checkout\AddressView\AddressList\AddressListBilling">
        <plugin name="GardenLawn_Core_Plugin_Hyva_Checkout_ViewModel_Checkout_AddressView_AddressList_AddressListBillingPlugin"
                type="GardenLawn\Core\Plugin\Hyva\Checkout\ViewModel\Checkout\AddressView\AddressList\AddressListBillingPlugin"
                sortOrder="10"
                disabled="false"/>
        <plugin name="GardenLawn_Core_Plugin_Hyva_Checkout_ViewModel_Checkout_AddressView_AddressList_AddressListBillingCanCreatePlugin"
                type="GardenLawn\Core\Plugin\Hyva\Checkout\ViewModel\Checkout\AddressView\AddressList\AddressListBillingCanCreatePlugin"
                sortOrder="10"
                disabled="false"/>
    </type>
    <type name="Hyva\Checkout\Model\ConfigData\HyvaThemes\SystemConfigBilling">
        <plugin name="GardenLawn_Core_Plugin_Hyva_Checkout_Model_ConfigData_HyvaThemes_SystemConfigBillingPlugin"
                type="GardenLawn\Core\Plugin\Hyva\Checkout\Model\ConfigData\HyvaThemes\SystemConfigBillingPlugin"
                sortOrder="10"
                disabled="false"/>
    </type>

    <!-- Plugin do nadpisywania logiki pobierania numeru sklepu Santander -->
    <type name="Aurora\Santander\ViewModel\Rates">
        <plugin name="GardenLawn_Core::override_santander_shop_id"
                type="GardenLawn\Core\Plugin\ViewModel\Santander\RatesPlugin"
                sortOrder="10"
                disabled="false"/>
    </type>

    <!-- Plugin do kontroli dostępności metody płatności Santander -->
    <type name="Aurora\Santander\Model\Santander">
        <plugin name="GardenLawn_Core::santander_payment_availability"
                type="GardenLawn\Core\Plugin\Model\Santander\AvailabilityPlugin"
                sortOrder="10"
                disabled="false"/>
    </type>

    <!-- Plugin do poprawy obliczania ceny brutto w symulatorze Santander -->
    <type name="Aurora\Santander\ViewModel\Installment">
        <plugin name="GardenLawn_Core::santander_gross_price_fix"
                type="GardenLawn\Core\Plugin\ViewModel\Santander\InstallmentViewModelPlugin"
                sortOrder="10"
                disabled="false"/>
    </type>
</config>
