<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="gardenlawn" translate="label" sortOrder="100">
            <label>GardenLawn</label>
        </tab>
        <section id="gardenlawn_core" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Core Module</label>
            <tab>gardenlawn</tab>
            <resource>GardenLawn_Core::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="cleanup" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Database Cleanup</label>
                <!-- Zmieniono ID pola na bardziej ogólne, pasujące do dwu-przyciskowej akcji -->
                <field id="cleanup_actions" translate="label" type="button" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cleanup Tools</label>
                    <!-- Frontend model jest blokiem CleanButtons, który renderuje dwa przyciski POST -->
                    <frontend_model>GardenLawn\Core\Block\Adminhtml\System\Config\CleanButtons</frontend_model>
                    <comment>This section provides tools to remove redundant entries from the 'core_config_data' table. Use 'Dry Run' first.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
