<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="gardenlawn" translate="label" sortOrder="100">
            <label>GardenLawn</label>
        </tab>
        <section id="gardenlawn" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Configuration</label>
            <!-- Assign section to tab -->
            <tab>gardenlawn</tab>
            <resource>GardenLawn_Core::configuration</resource>
            <!-- create group for fields in section -->
            <group id="core" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Parameters</label>
                <!-- create text type field -->
                <field id="enviroment" translate="label comment" sortOrder="7" type="text" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enviroment</label>
                    <comment>local | production</comment>
                </field>
            </group>
        </section>
        <section id="gardenlawn_core" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Core Module</label>
            <tab>gardenlawn</tab>
            <resource>GardenLawn_Core::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="b2b" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>B2B Settings</label>
                <field id="customer_groups" translate="label comment" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>B2B Customer Groups</label>
                    <source_model>GardenLawn\Core\Model\Config\Source\CustomerGroup</source_model>
                    <comment>Select customer groups that are considered B2B.</comment>
                </field>
            </group>
            <group id="dealer_price" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Dealer Price Settings</label>
                <field id="customer_groups" translate="label comment" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dealer Customer Groups</label>
                    <source_model>GardenLawn\Core\Model\Config\Source\CustomerGroup</source_model>
                    <comment>Select customer groups that should get the dealer price.</comment>
                </field>
                <field id="attribute_sets" translate="label comment" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Attribute Sets</label>
                    <source_model>GardenLawn\Core\Model\Config\Source\AttributeSet</source_model>
                    <comment>Select attribute sets to sync prices for. Leave empty to sync all.</comment>
                </field>
            </group>
            <group id="price_calculation" translate="label" type="text" sortOrder="28" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Main Price Calculation</label>
                <field id="factor" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Price Factor</label>
                    <validate>validate-number validate-greater-than-zero</validate>
                    <comment>Multiplier for dealer_price to calculate main price (e.g. 1.5).</comment>
                </field>
                <field id="tax_rate" translate="label comment" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tax Rate (%)</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <comment>Tax rate used to calculate gross price for rounding (e.g. 23).</comment>
                </field>
                <field id="rounding_rules" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Rounding Rules</label>
                    <frontend_model>GardenLawn\Core\Block\Adminhtml\Form\Field\RoundingRanges</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Define rounding rules based on GROSS price ranges.</comment>
                </field>
            </group>
            <group id="cleanup" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Database Cleanup</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Cleaner</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_dry_run" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Dry Run Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If 'Yes', no data will be deleted, only reported.</comment>
                </field>
                <field id="cleanup_actions" translate="label" type="button" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Run Cleanup Now</label>
                    <frontend_model>GardenLawn\Core\Block\Adminhtml\System\Config\CleanButtons</frontend_model>
                    <tooltip>This section provides tools to remove redundant entries from the 'core_config_data' table. Use 'Dry Run' first.</tooltip>
                </field>
            </group>
            <group id="sitemap" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sitemap Settings</label>
                <field id="priority" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Priority</label>
                    <validate>validate-number validate-number-range number-range-0-1</validate>
                    <comment>0.0 - 1.0</comment>
                </field>
            </group>
        </section>
    </system>
</config>
